html {
    height: 100%;
  }


  body {
    min-height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
  }












.logo{
    font-size: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    background-color: rgb(36, 32, 32);
}


.box{
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 50%;
    
    
}

.control{
    color: #23a6d5;
    
    padding: 10px;
}

footer{
    background-color: rgb(51, 47, 47);
    color: white;
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.0rem;   
  text-align: center;
}
#demo{
    color: #fbfbfb;
    background-color: #312edb;
    font-size: 20px;
    
}



.bar {
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    width: 100%;
}    
    
.in {
      animation: fill 15s linear 1;
      height: 100%;
      
      background: rgb(0,32,36);
background: linear-gradient(90deg, rgba(0,32,36,1) 0%, rgba(0,109,255,1) 0%, rgba(211,70,232,1) 0%, rgba(46,187,215,1) 100%);
}

  
@keyframes fill{
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }


